.contentContainer {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
  width: calc(100vw - 68px);
}

.buttonWrap {
  margin-top: 2em;
}

.card {
  width: 100%;
}

.settingsContainer {
  flex: 1 1 auto;
}
