* {
  box-sizing: border-box;
}
.watch {
  margin-top: 17px;
  margin-right: 14px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.13), 0 3px 4px 0 rgba(0, 0, 0, 0.13);
  font-size: 53px;
  position: relative;
  text-align: center;
}
